---
import Layout from "../layouts/Layout.astro";
import { Chip } from "@nextui-org/react";
import { Icon } from "astro-icon/components";
import Avatar from "../assets/avatarSBT.jpg";
const imgAvatar = Avatar.src;
---

<div class="about lg:flex lg:h-[500px] min-h-80 ">
  <div class="about-text h-full lg:w-5/12 flex-col mt-16">
    <div class="flex-col lg:items-start items-center h-4/6">
      <p
        class="bg-[#C54108] hover:bg-white hover:border-[#C54108] duration-1000 border-2 border-transparent box-border"
      >
        <button class="button" data-text="Awesome">
          <span class="actual-text">&nbsp;Welcome!_I'm&nbsp;</span>
          <span aria-hidden="true" class="hover-text"
            >&nbsp;Welcome!_I'm&nbsp;</span
          >
        </button>
      </p>
      <p>Santiago Bernal Tinjaca</p>
      <p class="bg-black">
        <Chip color="warning" variant="flat">
          Estudiante de Ingeniera de Software
        </Chip>
        <Chip color="warning" variant="flat">Analista QA Funcional</Chip>
      </p>
    </div>
    <div class="h-2/6 lg:block flex justify-center items-center">
      <button
        type="button"
        class="px-10 py-2 font-bold text-[#C54108] border-[#C54108] hover:text-white hover:bg-[#C54108] border-2"
      >
      <a href="#contact">
        Contact Me
      </a>
      </button>
    </div>
  </div>
  <div class="lg:w-5/12 w-full h-full flex items-center">
    <div class="lg:w-3/6 lg:h-3/6 w-4/6 h-4/6 lg:my-0 my-10 bg-black mx-auto rounded-full">
      <img src={imgAvatar} class="object-cover w-full h-full rounded-full hover:scale-105 duration-1000"/>
    </div>
  </div>
  <span
    class="links lg:w-2/12 hidden lg:flex lg:flex-column justify-end"
  >
    <ul class="lg:flex lg:flex-col flex">
      <li class="lg:w-0.5 lg:h-40 w-full h-0.5 bg-[#C54108] m-auto"></li>
      <li>
        <a href="https://www.instagram.com/devpassionate/" target="_blank">
          <Icon
            name="logos/instagram"
            class="m-auto hover:text-[#E772A4]"
            size={25}
          />
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/santiago-bernal-tinjaca/"
          target="_blank"
        >
          <Icon
            name="logos/linkedin"
            class="m-auto hover:text-[#0077B5]"
            size={25}
          />
        </a>
      </li>
      <li>
        <a href="https://twitter.com/0santi_bernal0" target="_blank">
          <Icon
            name="logos/twiter"
            class="m-auto hover:text-white hover:bg-black"
            size={25}
          />
        </a>
      </li>
      <li class="lg:w-0.5 lg:h-40 bg-[#C54108] m-auto"></li>
    </ul>
  </span>
</div>

<div class="w-[80%] m-auto h-auto my-3 flex flex-col justify-around" id="about">
  <div class="my-5 text-[#C54108] text-4xl font-bold">
    <h2>Sobre Mi</h2>
  </div>
  <div class="flex flex-wrap">
    <div class="w-full lg:w-1/2 text-justify pr-10">
      <div class="w-full my-5">
        <h3 class="my-2">Descripcion</h3>
        <p class="leading-9">
          Estudiante de Ingeniería de Software con conocimientos en tecnologías web como HTML, CSS y Bootstrap, así como en bases de datos SQL y MySQL. Mi competencia en lenguajes de programación como JavaScript.
        </p>
      </div>
      <div class="w-full my-5 education">
        <h3>Educacion</h3>
        <div>
          <ul>
            <div>
              <li>2021 - Presente</li>
              <p> Ingenieria de Software - Corporacion Universitaria Iberoamercana</p>
            </div>
          </ul>
        </div>
      </div>
      <div class="w-full my-5 interests">
        <h3>Intereses</h3>
        <div>
          <ul>
            <li>Quality Assurance</li>
            <li>Desarollo Full Stack</li>
            <li>Neurociencia</li>
          </ul>  
        </div>
      </div>
    </div>
    
    <div class="w-full lg:w-1/2 my-5 courses">
      <h3>Cursos</h3>
      <div>
        <ul>
          <div>
            <li>Bootcamp - Testing de Software</li>
            <p>MindHub</p>
          </div>
          <div>
            <li>Fundamentos en analítica de datos</li>
            <p>DS4A - MinTic</p>
          </div>
          <div>
            <li>Desarrollo Web 2021 - FrontEnd Web Developer</li>
            <p>Udemy</p>
          </div>
          <div>
            <li>Fundamentos de Programación</li>
            <p>Universidad del Norte</p>
          </div>
          <div>
            <li>Programación Básica</li>
            <p>Universidad del Norte</p>
          </div>
          <div>
            <li>Java Foundations</li>
            <p>Oracle Academy</p>
          </div>
          <div>
            <li>Microsoft Fundamentos</li>
            <p>Intelligent Training</p>
          </div>
        </ul>
      </div>
    </div>

  </div>
</div>

<style>
  .links ul li {
    @apply m-auto my-4;
  }

  .about {
    width: 80%;
    margin: auto;
  }

  .about-text > div:first-child {
    display: flex;
    justify-content: center;
  }

  .about-text > div p:first-child {
    width: 160px;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    text-align: center;
  }

  .about-text > div p:nth-child(2) {
    font-weight: bolder;
    font-size: 2rem;
  }

  .about-text > div p:nth-child(3) {
    font-size: 0.9rem;
  }

  .about-text > div p:nth-child(4) {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

  .about-text p {
    @apply my-2;
  }
 
  .button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }

  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #c54108;
    --fs-size: 0.9rem;
    text-decoration: none;
    font-size: var(--fs-size);
    position: relative;
    color: white;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }

  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 1s;
    -webkit-text-stroke: 1px var(--animation-color);
  }

  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color));
  }

  div h3{
    @apply text-2xl
  }

  .education div ul div li, .interests div ul li, .courses div ul div li{
    @apply ml-4 list-disc py-2
  }

  .education div ul div p, .courses div ul div p{
    @apply ml-4
  }
</style>
