---
import { Chip } from "@nextui-org/react";
import { Icon } from "astro-icon/components";
import Avatar from "../assets/avatarSBT.jpg";
const imgAvatar = Avatar.src;
---

<div class="about lg:flex lg:h-[600px] min-h-80 ">
  <div class="about-text h-full lg:w-5/12 flex-col mt-16">
    <div class="flex-col lg:items-start items-center h-4/6">
      <p
        class="bg-[#C54108] hover:bg-white hover:border-[#C54108] duration-1000 border-2 border-transparent box-border"
      >
        <button class="button" data-text="Awesome">
          <span class="actual-text">&nbsp;Welcome!_I'm&nbsp;</span>
          <span aria-hidden="true" class="hover-text"
            >&nbsp;Welcome!_I'm&nbsp;</span
          >
        </button>
      </p>
      <p class="font-noto">Santiago Bernal Tinjacá</p>
      <p class="bg-black">
        <Chip color="warning" variant="flat">
          Estudiante de Ingenieria de Software
        </Chip>
        <Chip color="warning" variant="flat">Analista QA Funcional</Chip>
      </p>
    </div>
    <div class="h-2/6 lg:block flex justify-center items-center ">
      <button
        type="button"
        class="p-0 w-auto lg:my-0 my-6 font-bold text-[#C54108] border-[#C54108] hover:text-white hover:bg-[#C54108] border-2"
      >
      <a href="#contact" class="inline-block px-10 py-2">
        Contact Me
      </a>
      </button>
    </div>
  </div>
  <div class="lg:w-5/12 w-full h-full flex items-center">
    <div class="lg:w-3/6 lg:h-3/6 w-4/6 h-4/6 lg:my-0 my-10 bg-black mx-auto rounded-full">
      <img src={imgAvatar} alt="Avatar de usuario" class="object-cover w-full h-full rounded-full hover:scale-105 duration-1000"/>
    </div>
  </div>
  <span
    class="links lg:w-2/12 hidden lg:flex lg:flex-column justify-end"
  >
    <ul class="lg:flex lg:flex-col flex">
      <li class="lg:w-0.5 lg:h-40 w-full h-0.5 bg-[#C54108] m-auto"></li>
      <li>
        <a href="https://www.instagram.com/devpassionate/" target="_blank">
          <Icon
            name="logos/instagram"
            class="m-auto hover:text-[#E772A4]"
            size={25}
          />
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/santiago-bernal-tinjaca/"
          target="_blank"
        >
          <Icon
            name="logos/linkedin"
            class="m-auto hover:text-[#0077B5]"
            size={25}
          />
        </a>
      </li>
      <li>
        <a href="https://github.com/SantiagoBer13" target="_blank">
          <Icon
            name="logos/github"
            class="m-auto hover:text-white hover:bg-black"
            size={25}
          />
        </a>
      </li>
      <li class="lg:w-0.5 lg:h-40 bg-[#C54108] m-auto"></li>
    </ul>
  </span>
</div>

<div class="w-[80%] m-auto h-auto my-3 flex flex-col justify-around" id="about">
  <div class="my-5 text-[#C54108] text-4xl font-bold">
    <h2 class="font-noto">Sobre Mi</h2>
  </div>
  <div class="flex flex-wrap">
    <div class="w-full lg:w-1/2 text-justify pr-10">
      <div class="w-full my-5 ">
        <h3 class="my-2">Descripci&oacute;n</h3>
        <p class="leading-9">
          ¡Hola! Soy un estudiante de ingeniería de software apasionado por asegurar la calidad del software y comprometido con el aprendizaje continuo. Mi enfoque se centra en mejorar constantemente mis habilidades en pruebas de software para garantizar la calidad del producto. Tengo conocimiento en realizar pruebas manuales y estoy en proceso de aprender más sobre las pruebas automatizadas. Estoy ansioso por encontrar oportunidades que me permitan aplicar mis conocimientos en un entorno profesional y seguir creciendo como QA. Estoy emocionado por la posibilidad de aprender y colaborar en un equipo de trabajo colaborativo. ¡Espero poder contribuir positivamente y aprender mucho en el proceso!
        </p>
      </div>
      <div class="w-full my-5 education">
        <h3>Educaci&oacute;n</h3>
        <div>
          <ul>
            <div>
              <li>2021 - Presente</li>
              <p> Ingenieria de Software - Corporacion Universitaria Iberoamericana</p>
            </div>
          </ul>
        </div>
      </div>
      <div class="w-full my-5 interests">
        <h3>Intereses</h3>
        <div>
          <ul>
            <li>Quality Assurance</li>
            <li>Desarollo Full Stack</li>
            <li>Neurociencia</li>
          </ul>  
        </div>
      </div>
    </div>
    
    <div class="w-full lg:w-1/2 my-5 courses">
      <h3>Cursos</h3>
      <div class="flex justify-center items-center h-full my-3">
        <div class="">
          <img src='https://online.pubhtml5.com/uywum/ttpf/files/shot.jpg' data-rel='fh5-light-box-demo' data-href='https://online.pubhtml5.com/uywum/ttpf/' data-width='475' data-height='500' data-title='Libro De Certificados'>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .links ul li {
    @apply m-auto my-4;
  }

  .about {
    width: 80%;
    margin: auto;
  }

  .about-text > div:first-child {
    display: flex;
    justify-content: center;
  }

  .about-text > div p:first-child {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    font-size: 0.9rem;
    text-align: center;
  }

  .about-text > div p:nth-child(2) {
    
    font-size: 2rem;
  }

  .about-text > div p:nth-child(3) {
    font-size: 0.9rem;
  }

  .about-text > div p:nth-child(4) {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

  .about-text p {
    @apply my-2;
  }
 
  .button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }

  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #c54108;
    --fs-size: 0.9rem;
    text-decoration: none;
    font-size: var(--fs-size);
    position: relative;
    color: white;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }

  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 1s;
    -webkit-text-stroke: 1px var(--animation-color);
  }

  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color));
  }

  div h3{
    @apply text-2xl
  }

  .education div ul div li, .interests div ul li, .courses div ul div li{
    @apply ml-4 list-disc py-2
  }

  .education div ul div p, .courses div ul div p{
    @apply ml-4
  }
</style>
