---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro'
import Layout from '../layouts/Layout.astro';
import About from './about.astro';
import Proyects from './proyects.astro';
import Skills from './skills.astro'
import Contact from './contact.astro'
//let title: string = "Working with Astro"
---

<Layout title="Home">
	
	<Header />
	<main>
		<About />
		<Skills />
		<Proyects />
		<Contact />
	</main>
	<Footer />

		  
</Layout>

	