---
import NextTabsProjects from "../components/NextTabsProjects";

const background = "red";
const fontSize = "2rem";
---
<div class="w-[80%] m-auto my-9">
  <div class="my-8">
    <h2 class="text-[#C54108] text-4xl font-bold my-10">Portfolio</h2>
  </div>
  <NextTabsProjects client:visible />
</div>
<style define:vars={{ background, fontSize }}>
  li {
    background-color: var(--background);
    font-size: var(--fontSize);
  }
</style>
