---
import { Icon } from "astro-icon/components";
---

<footer class="w-[80%] m-auto flex justify-around">
    <div class="flex items-center">
        <p>@ Copyright 2024</p>
    </div>
    <!--Test -->
	<div class="loader my-10">
		<div class="loader__balls">
		  <div class="loader__balls__group flex gap-4">
			<div class="ball item1 hover:animate-bounce animate-duration-1000">
                <a href="https://www.instagram.com/devpassionate/" target="_blank">
                    <Icon
                    name="logos/instagram-color"
                    class="cursor-pointer "
                    size={35}
                    />
                </a>
			</div>
            <div class="ball item1 hover:animate-bounce animate-duration-1000">
                <a href="https://www.linkedin.com/in/santiago-bernal-tinjaca/" target="_blank">
                    <Icon
                    name="logos/linkedin-color"
                    class="cursor-pointer "
                    size={35}
                    />
                </a>
			</div>
            <div class="ball item1 hover:animate-bounce animate-duration-1000">
                <a href="https://github.com/SantiagoBer13" target="_blank">
                    <Icon
                    name="logos/github"
                    class="cursor-pointer "
                    size={35}
                    />
                </a>
			</div>
            <div class="ball item1 hover:animate-bounce animate-duration-1000">
                <a href="https://twitter.com/0santi_bernal0" target="_blank">
                    <Icon
                    name="logos/twiter"
                    class="cursor-pointer "
                    size={35}
                    />
                </a>
			</div>
		  </div>
	    </div>
    </div>
    <div class="flex items-center">
        <p>Santiago Bernal Tinjaca</p>
    </div>
</footer>

<style>




</style>