---
console.log("Header")
---

<header>
    <nav>
        <ul>
            <li>
                <a href="/">
                    HOME
                </a>
            </li>
            <li>
                <a href="/proyects">
                    PROYECTS
                </a>
            </li>
        </ul>
    </nav>
</header>